@font-face {
font-family: "PlayfairDisplay";
src: url('../font/PlayfairDisplay-Regular.ttf');
}
@font-face {
font-family: "Montserrat-Light";
src: url('../font/Montserrat-Light.ttf');
}
@font-face {
font-family: "Montserrat-bold";
src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
font-family: "Montserrat-SemiBold";
src: url('../font/Montserrat-SemiBold.ttf');
}
@font-face {
font-family: "Montserrat-Italic";
src: url('../font/Montserrat-Italic.ttf');
}

.no_padding{
	padding-left: 0;
	padding-right: 0;
}
header p{
	line-height: 1em;
}

#content{
	padding-left: 0;
	padding-right: 0;
}
#cover_picture{
	background-image:url("../../assets/img/cover_picture.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
#cover_picture nav{
	height: 140px;
    margin-left: 15px;
}
#cover_picture nav ul{
 	text-align: center;
    padding-top: 60px;
    padding-left: 200px;
    display: inline-block;
}
#cover_picture nav ul li{
    display: inline-block;
    font-family: "Montserrat-bold";
    text-transform: uppercase;
    font-size: 15px;
    width: 80px;
    text-align: center;
}
.logo{
    width: 25px;
    padding-top: 0;
}
.loupe{
    width: auto;
    padding-top: 0;
	margin-left: 152px;
}
.button_menu{
      width: auto;
    padding-top: 0;
}
#cover_picture h1{
	margin: auto;
	padding-top: 160px;
	font-size: 6em;
	text-align: center;
	font-family: "PlayfairDisplay";
	margin-bottom: 15px;
}
#cover_picture p{
	font-size: 0.9em;
	text-align: center;
	font-family: "PlayfairDisplay";
}
#buttons_double {
    padding-top: 40px;
    margin: auto;
    text-align: center;
}
.play_button{
	padding-top: 20px;
    padding-bottom: 25px;
}
.double_bar_button{
	padding-top: 65px;
}
.really_button{
	width: 22%;
}

#buttons_double img{
	margin: auto;
	display: block;
}
#sel_pictures{
	margin-bottom: 0;
}
#sel_pictures li{
	display: inline-block;
	font-family: "Montserrat-semibold";
	color: white;
	text-align: center;
}
#sel_pictures li h2{
	text-transform: uppercase;
	font-size: 1em;
}
#sel_pictures li h3{
	font-size: 0.9em;
	font-family: "Montserrat-Italic";
}

.picture_1, .picture_2, .picture_3, .picture_4{
	display: inline-block;
    padding-top: 242px;
    padding-bottom: 57px;
	background-size: cover;
	background-repeat: no-repeat;
}
.picture_1{
	background-image:url("../../assets/img/picture_1.png");
}
.picture_2{
	background-image:url("../../assets/img/picture_2.png");
}
.picture_3{
	background-image:url("../../assets/img/picture_3.png");
}
.picture_4{
	background-image:url("../../assets/img/picture_4.png");
}


.box_footer h2{
	font-family: "Montserrat-bold";
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.box_footer{
display: inline-block;
text-align: left;
}

.box_footer ul{
list-style-type: none;
padding-left: 0; 
}
.box_footer ul li{
	font-family: "Montserrat-Italic";
	font-size: 0.5em;
	line-height: 2em;
}
.box_footer p{
	font-family: "Montserrat-Italic";
	font-size: 0.5em;
	line-height: 2em;
}

.copyright{
	font-family: "Montserrat-Italic";
	background-color: #212121;
	color: white;
	font-size: 0.5em;
	height: 70px;
	text-align: center;
	padding-top: 25px;
}

footer{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 115px !important;
	padding-right: 125px !important;
}